:root{
  --background : white;
  --text-primary: #000;
}
[data-theme='dark']{
  --background: #000;
  --text-primary: #fff;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.theme-toggle i{
  font-size: 2rem;
  cursor:pointer;
}
.theme-toggle{
  text-align: right;
  color:var(--text-primary);
}
